.fc-event{
    cursor: pointer;
}

.student-calendar {
	margin-top: 25px; 
	display: none;
}

.calendar-title {
	display: inline;
}

.fc-toolbar.fc-header-toolbar {
    background: #2e6da4;
    color: #fff;
    margin-bottom: 0;
    padding: 15px;
}

span.closeon {
	position: absolute;
    right: 2px;
    top: 2px;
}


#loader {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 3;
  	width: 150px;
  	height: 150px;
  	margin: -75px 0 0 -75px;
  	border: 8px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 8px solid #3498db;
  	width: 70px;
  	height: 70px;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;
  	display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#blur-backgroung {
	position: fixed;
    top 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 2;
    background-color: white;
    opacity: .5;
    display: none;
}

#teacherSelectPopForm {
	margin-bottom: 0;
}

#teacherSelectPopForm table td {
	padding-left: 25px; 
}

#ui-datepicker-div {
  margin-top: 144px;
}

.ui-icon-circle-triangle-e {
    background-image: url("../img/ui-icons.png") !important; 
    background-position: -48px -192px !important;
}

.ui-icon-circle-triangle-w {
    background-image: url("../img/ui-icons.png") !important; 
    background-position: -80px -192px; !important;   
}


.note-in-event span.glyphicon-pencil{
    position: absolute;
    right: 18px;
    top: 3px;
}

.note-in-event span.green{
    position: absolute;
    right: 5px;
    top: 5px;
}

.fc-day-grid .fc-row {
    z-index: inherit;
}
 .fc-row .fc-content-skeleton {
  z-index: auto;
} 
 .fc-event-container .fc-day-grid-event {
  z-index: 1;
}
.fc-row .fc-bg {
  z-index: auto;
}

span.assignment-attendance {
  position: absolute;
    right: 2px;
    top: 2px;
}



.mybtn{ transition: 0.5s all;
}
.mybtn:hover{ border-radius: 30px; box-shadow: #000 0 1px 2px;}

// td .fc-day.fc-widget-content {
//   z-index: 9;
//   position: relative;
// }

td .fc-day-top {
  z-index: 9;
  position: relative;
}

// td .fc-event-container{
//   z-index: 9;
//   position: relative; 
// }

@media screen and (max-width: 1210px) {
  .fc-day.fc-widget-content div.holidayTooltip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } 
}