@import url(http://fonts.googleapis.com/css?family=Roboto);
/****** Custom Header/Nav MODAL ******/
#login-status {
padding: 0;
margin: 0;
position: relative;
top: 35px;
color: #fff;
font-weight: bold;
text-align: center;
float: right;
}
.navbar-custom{
        background: #fff url('../img/background.jpg') repeat-x;
}

.navbar-custom .navbar-brand{
    color: #fff;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus{
    color: #efefef;
    background-color: transparent;
}

.navbar-custom .navbar-toggle .icon-bar{
    background-color: #fff;
}

.nav > li > a{
    color:#fff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    color:#23527c;
}

.navbar-toggle{
        background: rgba(255, 255, 255, 0.17) url('../img/nav-bg.jpg') repeat-x;
}

.navbar-collapse{
    background-color: #3E5990;
}

/*.navbar-collapse .open .dropdown-menu > li > a{
    color:#fff;
}

.navbar-collapse .open .dropdown-menu > li > a:hover,.navbar-collapse .open .dropdown-menu > li > a:focus {
    color:#23527c;
}
*/
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


/* a:link
{
    color: #00f;
}

a:visited
{
    color: #00f;
}

a:hover
{
    color: #f00;
}

body
{ 
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff url(https://web.liberty.k12.mo.us/images/bk-Lines.gif) scroll repeat top left;
    font-family: Arial, sans-serif;
}

#brand
{
   padding:5px 20px;
   margin-left: 0px;
   font-size: 15px;
}

#techresourcesNav
{
   min-height:30px;
}

#header
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #20438C;
}

#headerlogo
{
    float: left;
    width: 90px;
    height: 60px;
}

#LPSLogo
{
   height: 70px;
}

#headertext
{
    display: inline;
    text-align: left;
    color: #fff;
    font-family: Serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
}

#header2
{
    width: 100%;
    background-color: #6882bd;
}

#lighterheaderbar
{
    height: 20px;
    background-color: #6882bd;
}

#dropshadow
{
    height: 9px;
    width: 100%;
    background-image: url(https://web.liberty.k12.mo.us/images/el-DropShadow04.gif);
    vertical-align: top;
    font-size: 1px;
    margin: 0px;
    padding: 0px;
}

#main
{
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#content
{
    width: 90%;
    text-align: left;
}

a.navLinks
{
   padding: 5px 10px !important;
}
.row
{
    margin-bottom: 1em;

}
.calendar
{
    background-repeat: repeat;
}
.calendarToday
{
    background-image: url(https://web.liberty.k12.mo.us/images/bk-Lines03.gif);
    background-repeat: repeat;
    color: #FFFFFF;
    font-weight: bold;
}

.headline
{
    text-align: left;
    text-indent: 2em;
}

.headline p
{
    text-align: left;
    text-indent: 2em;
}

.headline ul,li
{
    text-align: left;
    text-indent: 2em;
}
*/