<!-- Modal -->
<div class="modal fade" id="selectTeacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add an Assignment</h4>
			</div>
			<div class="modal-body" style="margin-bottom: 30px;">
				<label for="">Student Name:</label>
				<span id="student-name"></span>
				<br>
				<label for="">Date:</label>
				<span id="selected-date"></span>
				<br>
				<label for="">Teacher Name:</label>
				<input type="text" 
			        id="search-teacher" 
			        name="search-teacher">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>