<h4>Hi ##ADMIN_NAME##,</h4>

<p>I'd like to request for an assignment on ##ASSIGNMENT_DATE##.</p>

<p style="margin: 0px;">
	<strong>Thanks</strong>
</p>
<p style="margin: 0px;">
	##STUDENT_NAME##
</p>