<h4>Hi ##STUDENT_NAME##,</h4>

<p>You have been marked absent for the assignment on ##ASSIGNMENT_DATE##.</p>

<p style="margin: 0px">
	<strong>Thanks</strong>
</p>
<p style="margin: 0px">
	##TEACHER_NAME##
</p>