<h4>Hi ##STUDENT_NAME##,</h4>

<p>Your ##ASSIGNMENT_DATE## day's Assignment Request has been denied.</p>

<p style="margin: 0px">
	<strong>Thanks</strong>
</p>
<p style="margin: 0px">
	##ADMIN_NAME##
</p>