<h4>Hi ##TEACHER_NAME##,</h4>

<p>
	Below is your schedule of assignments:
</p>

<table  border="1" cellspacing="0" cellpadding="10">
	<tr>
		<th>Date</th>
		<th>Student</th>
	</tr>
	##RECORDS##
</table>

<p>
	<strong>Thanks</strong>
</p>